---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import AdireToAnkara from "../components/content/AdireToAnkara.astro";

import { Image } from "astro:assets";
import bgImage from "../assets/images/seen-from-lagos/peju.jpg";

const title = "Atlantica – From Adire to Ankara";
const description =
	"Ahmadu Bello University (ABU) - University of Exeter (UoE) Atlantica symposium";
---

<Layout {title} {description}>
	<main class="h-full grow relative">
		<div class="fixed inset-0">
			<Image
				src={bgImage}
				alt="Adire fabric pattern"
				widths={[300, 600, 900]}
				class="h-full w-full object-cover invert"
			/>
			<div
				class="inset-0 bg-gradient-to-t from-black/90 to-sky-800/90 mix-blend-multiply fixed"
			>
			</div>
		</div>
		<AdireToAnkara />
	</main>
	<Menu />
</Layout>
