---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import ChangingLogo from "../components/ChangingLogo.astro";
import SymposiumInformation from "../components/SymposiumInformation.astro";

import { Image } from "astro:assets";
import bgImage from "../assets/images/seen-from-lagos/peju.jpg";

const title = "Atlantica";
const description =
	"- towards a pan-Atlantic biennial of contemporary art and critical enquiry";
---

<style>
	.ss03 {
		font-feature-settings: "ss03";
	}
</style>
<Layout {title} {description}>
	<main
		class="h-full grow relative selection:text-black selection:bg-text-zinc-100"
	>
		<header id="masthead" class="fixed inset-0">
			<h1 class="sr-only">Atlantica</h1>
			<video
				class="w-full h-full object-cover absolute saturate-0 pointer-events-none"
				autoplay
				muted
				loop
				playsinline
				preload="metadata"
				src="/atl_hex.mp4#t=0.1"
			>
				<source type="video/mp4" src="/atl_hex.mp4#t=0.1" />
			</video>
			<div
				class="relative w-full h-screen flex flex-col justify-center items-center px-4 md:px-8 text-center"
			>
				<div class="relative w-full h-32 md:h-64">
					<ChangingLogo imageClass="h-32 md:h-64" />
				</div>
				<p class="font-cond text-lg md:text-xl">
					- towards a pan-Atlantic biennial of contemporary art and
					critical enquiry
				</p>
			</div>
			<div
				class="absolute bottom-4 md:bottom-9 inset-x-0 text-center text-2xl ss03"
			>
				<button
					id="to-UNILAG"
					aria-label="Scroll down to UNILAG call for participation"
					class="hover:opacity-50 transition-opacity">↓</button
				>
			</div>
			<div
				class="absolute inset-0 bg-[red] mix-blend-overlay pointer-events-none"
			>
			</div>
		</header>

		<div id="UNILAG-bg" class="fixed inset-0 translate-y-full opacity-0">
			<Image
				src={bgImage}
				alt="Adire fabric pattern"
				widths={[300, 600, 900]}
				class="h-full w-full object-cover"
			/>
			<div
				class="inset-0 bg-gradient-to-t from-black to-sky-900 mix-blend-multiply absolute"
			>
			</div>
		</div>

		<div id="UNILAG" class="mt-[100vh] relative w-full h-screen">
			<SymposiumInformation tag="h2" />
		</div>
	</main>
	<Menu />
</Layout>

<script>
	import { scroll, timeline } from "motion";

	const animatOnScroll = () => {
		const masthead = document.querySelector("#masthead") as HTMLElement;
		if (!masthead) return;
		const animation = [
			[
				"#masthead",
				{
					opacity: 0,
					y: "-50vh",
				},
			],
			[
				"#UNILAG",
				{
					opacity: [0, 1],
				},
				{ at: "<" },
			],
			[
				"#UNILAG-bg",
				{
					opacity: [1, 1],
					y: ["100vh", "0"],
				},
				{ at: "<" },
			],
		];

		//@ts-ignore
		scroll(timeline(animation), {
			target: document.querySelector("#UNILAG"),
			offset: ["start end", "start start"],
		});
	};

	// get the button
	const scrollToUNILAG = () => {
		const toUNILAG = document.querySelector(
			"#to-UNILAG"
		) as HTMLButtonElement;
		const UNILAG = document.querySelector("#UNILAG") as HTMLElement;

		if (!toUNILAG || !UNILAG) return;

		toUNILAG.addEventListener("click", () => {
			UNILAG.scrollIntoView({
				behavior: "smooth",
			});
		});
	};

	animatOnScroll();
	scrollToUNILAG();
	document.addEventListener("astro:after-swap", animatOnScroll);
	document.addEventListener("astro:after-swap", scrollToUNILAG);
</script>
