---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import SymposiumInformation from "../components/SymposiumInformation.astro";

import { Image } from "astro:assets";
import bgImage from "../assets/images/seen-from-lagos/peju.jpg";

const title = "Atlantica – Seen from Lagos";
const description =
	"UNILAG-Exeter Atlantica Symposium – Institute of African and Diaspora Studies";
// "Call for Participation in the inaugural platform of the Atlantica series 25-26 June 2024 at University of Lagos (UNILAG), Nigeria";
---

<Layout {title} {description}>
	<main class="h-full grow relative">
		<div class="fixed inset-0">
			<Image
				src={bgImage}
				alt="Adire fabric pattern"
				widths={[300, 600, 900]}
				class="h-full w-full object-cover"
			/>
			<div
				class="inset-0 bg-gradient-to-t from-black to-sky-900 mix-blend-multiply fixed"
			>
			</div>
		</div>
		<SymposiumInformation />
	</main>
	<Menu />
</Layout>
