---
import { Image } from "astro:assets";
import logo1 from "../assets/logos/Atlantica_Logo_White_1.png";
---

<nav
	id="menu"
	class="fixed flex-col items-center justify-between inset-0 p-4 md:p-9 bg-black opacity-0 -translate-y-100 hidden"
>
	{
		Astro.url.pathname !== "/" ? (
			<a
				href="/"
				class="transition-opacity hover:opacity-50 inline-block"
			>
				<Image
					src={logo1}
					alt="Atlantica Logo"
					widths={[300, 600, 900]}
					class="menuItem h-8 w-32 md:h-16 md:w-64 object-contain opacity-0 -translate-y-100"
				/>
			</a>
		) : (
			<Image
				src={logo1}
				alt="Atlantica Logo"
				widths={[300, 600, 900]}
				class="menuItem h-8 w-32 md:h-16 md:w-64 object-contain opacity-0 -translate-y-100"
			/>
		)
	}

	<div
		class="flex flex-col text-xl md:text-3xl w-full items-center text-center menuItem opacity-0 -translate-y-100 font-exp font-bold"
	>
		{
			Astro.url.pathname === "/about" ? (
				<button
					data-menu-button
					class="transition-opacity hover:opacity-50"
				>
					About
				</button>
			) : (
				<a href="/about" class="transition-opacity hover:opacity-50">
					About
				</a>
			)
		}
		<a
			href="mailto:mail@atlantica.art"
			class="transition-opacity hover:opacity-50 mt-2 md:mt-4">Contact</a
		>
	</div>
	<div
		class="flex flex-col w-full space-y-2 md:space-y-4 items-center text-center menuItem opacity-0 -translate-y-100 font-cond"
	>
		<p>Related Projects</p>
		<a
			href="https://theatlantic.org/"
			target="_blank"
			class="text-xl md:text-3xl transition-opacity hover:opacity-50 font-exp font-bold"
			>The Atlantic Project</a
		>
	</div>
</nav>
<button
	data-menu-button
	class="flex flex-col justify-center w-8 h-8 fixed top-4 md:top-8 right-4 md:right-8 transition-opacity hover:opacity-50"
	aria-label="toggle menu"
>
	<span id="topBar" class="w-full h-px bg-current mb-2"></span>
	<span id="bottomBar" class="w-full h-px bg-current mt-2"></span>
</button>

<script>
	import { animate, stagger, timeline } from "motion";

	const menu = () => {
		// variables
		const buttons = document.querySelectorAll("[data-menu-button]");
		const menu = document.getElementById("menu") as any;

		// sequences
		const openMenuSequence = [
			// [
			// 	"main",
			// 	{
			// 		opacity: [1, 0],
			// 	},
			// ],
			[
				"#menu",
				{
					opacity: [0, 1],
					y: ["-100%", "0%"],
				},
				{ at: "<" },
			],
			[
				".menuItem",
				{
					opacity: [0, 1],
					y: ["-100%", "0%"],
				},
				{
					delay: stagger(0.075),
					at: "+.300",
				},
			],
		] as any;

		const closeMenuSequence = [
			[
				"#logo",
				{
					opacity: [1, 0],
					y: ["0%", "-100%"],
				},
			],
			[
				".menuItem",
				{
					opacity: [1, 0],
					y: ["0%", "-100%"],
				},
				{
					delay: stagger(0.075, { from: "last" }),
					at: "+.300",
				},
			],
			// [
			// 	"main",
			// 	{
			// 		opacity: [0, 1],
			// 	},
			// 	{ at: "<" },
			// ],
		] as any;

		const openMenuButton = [
			[
				"#topBar",
				{
					marginBottom: ["0.5rem", "0rem"],
				},
			],
			[
				"#bottomBar",
				{
					marginTop: ["0.5rem", "0rem"],
				},
				{ at: "<" },
			],
			[
				"#topBar",
				{
					rotate: ["0deg", "45deg"],
				},
			],
			[
				"#bottomBar",
				{
					rotate: ["0deg", "-45deg"],
				},
				{ at: "<" },
			],
		] as any;

		const closeMenuButton = [
			[
				"#topBar",
				{
					rotate: ["45deg", "0deg"],
				},
			],
			[
				"#bottomBar",
				{
					rotate: ["-45deg", "0deg"],
				},
				{ at: "<" },
			],
			[
				"#topBar",
				{
					marginBottom: ["0rem", "0.5rem"],
				},
			],
			[
				"#bottomBar",
				{
					marginTop: ["0rem", "0.5rem"],
				},
				{ at: "<" },
			],
		] as any;

		let isOpen = false;

		// functions
		const openMenu = () => {
			if (isOpen) return;
			document.body.style.overflow = "hidden";
			menu.classList.remove("hidden");
			menu.classList.add("flex");
			timeline(openMenuSequence);
			timeline(openMenuButton);
		};

		const closeMenu = () => {
			if (!isOpen) return;
			document.body.style.overflow = "auto";
			timeline(closeMenuSequence).finished.then(() => {
				menu.classList.add("hidden");
				menu.classList.remove("flex");
			});
			timeline(closeMenuButton);
		};

		const toggleMenu = () => {
			if (!isOpen) {
				openMenu();
			}
			{
				closeMenu();
			}
			isOpen = !isOpen;
		};

		// event listeners
		buttons.forEach((button) => {
			button.addEventListener("click", toggleMenu);
		});

		// add event lister to close menu when user types escape
		document.addEventListener("keydown", (e) => {
			if (e.key === "Escape" && isOpen) {
				toggleMenu();
			}
		});
	};

	menu();
	document.addEventListener("astro:after-swap", menu);
</script>
