---
import { Image } from "astro:assets";
import logo2 from "../assets/logos/Atlantica_Logo_White_2.png";

const { tag: Element = "h1" } = Astro.props;
---

<article
	class="prose prose-zinc prose-invert mx-auto relative [text-wrap:pretty] pt-4 pb-8 px-4 md:pt-8 md:px-8 md:p-16"
>
	<table class="text-lg font-cond text-zinc-100">
		<tbody>
			<tr
				class="flex flex-col items-center lg:flex-row lg:justify-between"
			>
				<td class="p-0">Platform 1: Lagos</td>
				<td class="p-0 lg:text-right">UNILAG / University of Exeter</td>
			</tr>
		</tbody>
	</table>
	<div class="py-20">
		<div class="flex justify-center">
			<a href="/" class="transition-opacity hover:opacity-50">
				<Image
					src={logo2}
					alt="Atlantica Logo"
					widths={[300, 600, 900]}
					class="h-16 w-[256px] object-contain my-4"
				/>
			</a>
		</div>
		<Element class="text-center font-exp uppercase my-0 text-4xl">
			Seen from Lagos
		</Element>
		<p
			class="lead text-center text-zinc-100 italic font-bold mb-0 font-cond mt-6"
		>
			African Re-groundings
		</p>
	</div>
	<p>
		Call for Participation in the inaugural platform of the
		<em>Atlantica</em> series<br />
		25-26 June 2024 at University of Lagos (UNILAG), Nigeria
	</p>
	<p>Submission deadline: 18 March 2024</p>
	<p class="lead text-zinc-300">
		The first <em>Atlantica</em> platform, <em>Seen from Lagos</em> is oriented
		towards the future in its exploration of solutions and routes through barriers
		which we find in the contemporary academy. It begins with the fear identified
		by Muyiwa Falaiye in his 2017 essay “Is African Studies Afraid of African
		Philosophy?” If even specialised branches of Area Studies devoted to the
		study of Africa are either ignorant of, or uneasy in dealing with, theories,
		concepts and methods drawn from African knowledge systems, what hope is there
		for the broader fields of the Humanities and the Social Sciences?
	</p>
	<p>
		While the subsequent years since the publication of Falaiye’s article
		have vibrantly trailed the rise of a “decolonial turn,” particularly in
		institutions in the Global North, there is scant evidence that academic
		disciplines have shown any appetite to find new ways to think from or
		with modes of thought from the Global South. Equally noteworthy is the
		inadequacy of mutually conceived intentional conversations bridging
		knowledge spaces of the Global South. Though unacknowledged, this is
		partly a function of the difficulties entailed in both unlearning
		existing modes of perceiving the world, and navigating through various
		entanglements of subjectivities, alongside the hard graft needed in
		opening one’s mind to understanding through other languages, concepts
		and modes of being.
	</p>
	<p>
		This platform directly addresses such deficits through the provision of
		case studies which it hopes will inspire others to see the expected
		awakening which can arrive through approaches to knowledge creation
		which find inspiration in specific schools of thinking or praxis from
		the African continent. As such, it encourages the submission of
		philosophical studies which are able to engage prevalent pedagogies,
		explore and situate the value of indigenous epistemologies; not
		necessarily divorcing them from broader currents within their academic
		fields, though naming and enumerating their specific utility.
	</p>
	<p>
		A second originating position lies in the study of art, both through
		forms of cultural practice and in the discipline of the history of art
		as it has been reconstrued by African – and especially Nigerian –
		writers such as Chika Okeke-Agulu and Rowland Ọlá Abíọ́dún. Beginning
		with this latter thinker, we take seriously his admonition that we are
		faced with the “urgent task” not simply of documenting global
		differences but ensuring “the survival and essential role of African
		artistic and aesthetic concepts in the study of art in Africa.” For this
		to happen, Abíọ́dún proposes a progressive abandonment of the
		conventional methods of the Western humanities, for their tendency is
		one of “concealing and even eliminating the social and religio-aesthetic
		foundation of the visual arts.”
	</p>
	<p>
		Looking beyond Africa towards other exemplars, we are able to see the
		manner in which fundamental notions of time, history and aesthetics have
		been upended in quite general, as well as scholarly, fashions in locales
		such as Australia, where indigenous modes of artistic production have
		induced paradigmatic changes in thought. Similar tendencies can also be
		seen in specialised fields of study in Islamic art, in which the
		specificity of forms of Muslim spiritual enlightenment are prized above
		the emplacement of works of art within Western frames of knowledge.
	</p>
	<p>
		Returning to Nigeria, it is arguable that one of the greatest conceptual
		gains which has emerged through the creation of indigenous forms of
		modernism by groups such as the Nsukka School has been their imagination
		of cultural production as a marriage of forms. Far from precluding
		deeper understandings of indigenous knowledge, fine art presents
		opportunities to disseminate such understandings in new fashions, to
		both local and international audiences. Relatedly, the degree to which
		an easy interchange across the study and making of art – evinced at
		UNILAG in the work of Peju Layiwola and others – reflects a positive
		belief in the ideal of conceptual and embodied forms of knowledge-making
		working in tandem.
	</p>
	<p>
		We therefore invite contributions to this event which may take the form
		of academic papers or artistic, curatorial or other forms of
		intervention. Our overarching goal is to move our fields forward so that
		no one should be afraid of African thought today, while some of its
		manifold facets might begin to be better understood at and through this
		symposium.
	</p>
	<hr />
	<p>
		<em>Seen from Lagos</em> is the first in a new series of <em
			>Atlantica</em
		> platforms, building towards a pan-Atlantic biennial of contemporary art
		and critical enquiry. Working with artists, writers and communities, <em
			>Atlantica</em
		> aims to re-examine the multiple histories and ‘historical presents’ of
		the Atlantic from diverse contemporary perspectives, challenging the supposedly
		‘universal’ knowledge system that inherently privileges a Eurocentric worldview.
		In contesting the totalising claims and epistemic violence of North Atlantic
		modernity, the ‘pluriversalism’ of the South also puts into question the
		temporalities and relationalities which have defined Western culture. In
		their place, new forms of knowledge are required, and with them new forms
		of subjectivity and new ways of imagining the future.
	</p>
	<a href="/">atlantica.art</a>
	<hr />
	<h2>Call for proposals to be submitted by Monday 18th March 2024</h2>
	<p>For paper proposals please submit:</p>
	<ul>
		<li>
			A summary of the proposed contribution (250-300 words), clearly
			setting out the paper’s conceptual framework, central argument,
			methodological approach, and contribution to the state of knowledge
			in the field;
		</li>
		<li>
			Your name, affiliation, contact details, and a short bio (50 words).
		</li>
	</ul>
	<p>
		Please also indicate if you plan to attend the symposium in person or if
		you would prefer to make a virtual presentation online.
	</p>
	<hr />
	<h2>Creative Practices and Performances</h2>
	<p>
		Proposed events of interventions could include readings, music, sonic
		art, digital art, dance, audio-visual, multimedia and other artistic
		performances. Proposals should be roughly two pages in length. Page 1
		should provide a description of the performance along with links to any
		supporting materials. Page 2 should provide a detailed technical
		overview that clearly states what equipment you need from us and what
		you can provide yourself. Proposals will be assessed for technical
		feasibility.
	</p>
	<h3>Please email all submissions to:</h3>
	<p>
		<a href="mailto:iads@unilag.edu.ng">iads@unilag.edu.ng</a> + <a
			href="mailto:atlantica@exeter.ac.uk">atlantica@exeter.ac.uk</a
		> (tbc)
	</p>
</article>
